<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
   
    <h3>UserName: <%= showuser.userName %></h3>
    <h3>Email: <%= showuser.email %></h3>
    <h3>Grade: <%= showuser.grade %></h3>
    <h3>UserType: <%= showuser.userType %></h3>
   

    <a href="/logout">Logout</a>
    <a href="/admin">Admin</a>
    <a href="/">Home</a>
    

    <script src="js/main.js"></script>
</body>
</html>