<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Hello Student!

    <h3>UserName: <%= user.userName %></h3>
    <h3>Email: <%= user.email %></h3>
    <h3>Grade: <%= user.grade %></h3>
    <h3>UserType: <%= user.userType %></h3>

    <a href="/"><h3>Home</h3></a>
    <a href="/logout"><h3>Logout</h3></a>
</body>
</html>