h1{
    color: red;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}

.checkOffClass{
   float: right; 
   list-style: none;
}

.currClass{
    list-style: none;
}